#roulettesection {
	height:600px;
}

.genericextras {
	color:blue;
}

.missionextras {
	color:red;
}

#resultsection {
	line-height:1.2;
	margin-top:20px;
}

#resultsection p {
	margin-top: 1px;
	margin-bottom: 1px;
}

#chosenmission {
	font-size:18px;
	font-weight: bold;
	color:#cc0000;
}

#popoutnappi {
	float:right;
}

.genericextras,#extra1,#extra2,#extra3,#extra4,#extra5 {
	color:blue;
}