#roulettesection {
	height:600px;
}

#resultsection {
	line-height:1.2;
	margin-top:20px;
	border: none;
	padding: 0;
	margin: 0;
}

#resultsection p {
	margin-top: 1px;
	margin-bottom: 1px;
}

#chosenmission {
	font-size:18px;
	font-weight: bold;
	color:#cc0000;
}

#popoutnappi {
	float:right;
}

#filters {
	display: none
}

#info {
	color: green;
	padding-top: 15px;
}

.bluetext {
	margin: 0;
	padding: 0;
	color: blue;
	display: inline;
}

.redtext {
	margin: 0;
	padding: 0;
	color: red;
	display: inline;
}

.extras {
	margin: 0;
	padding: 0;
	color: blue;
}

.nappi {
	display: inline;
}