* {
	font-family:sans-serif;
}


/*For roulette page*/

#roulettesection {
	
}

.genericextras {
	color:blue;
}

.missionextras {
	color:red;
}

#chosenmission {
	font-size:18px;
	font-weight: bold;
	color:#cc0000;
}

#themeswitch {
	position:absolute;
	bottom:5px;
	right:5px;
	font-size:10px;
}